vendor/bin/phpunit
vendor/composer/LICENSE
vendor/doctrine/instantiator/LICENSE
vendor/phpdocumentor/reflection-common/LICENSE
vendor/phpdocumentor/reflection-docblock/LICENSE
vendor/phpdocumentor/type-resolver/LICENSE
vendor/phpspec/prophecy/LICENSE
vendor/phpunit/php-code-coverage/LICENSE
vendor/phpunit/php-file-iterator/LICENSE
vendor/phpunit/php-text-template/LICENSE
vendor/phpunit/php-timer/LICENSE
vendor/phpunit/php-token-stream/LICENSE
vendor/phpunit/phpunit-mock-objects/LICENSE
vendor/phpunit/phpunit/LICENSE
vendor/phpunit/phpunit/phpunit
vendor/sebastian/comparator/LICENSE
vendor/sebastian/diff/LICENSE
vendor/sebastian/environment/LICENSE
vendor/sebastian/exporter/LICENSE
vendor/sebastian/global-state/LICENSE
vendor/sebastian/recursion-context/LICENSE
vendor/sebastian/version/LICENSE
vendor/symfony/yaml/LICENSE
vendor/webmozart/assert/LICENSE
vendor/
composer.lock
